HTML CSS Result
Edit on
body{margin:0;padding:0;}
.news{background:#9Ea0a1;width:100%; margin:0px;}
.enclose_site{background:white;width:1300px;margin:auto; height:150vh;}
.head_encase{height:130px;width:1300px;}
.logo_icon img{width:540px;position:absolute;margin:5px 0 0 45px;z-index:1;}
.contact_us{width:220px;height:60px;margin-left:970px;position:absolute;text-align:center;font-family:arial;z-index:999;border-top: 5px solid #478bc7;}
.contact_us2{width:320px;height:60px;margin-left:601px;position:absolute;text-align:center;z-index:999;}
.contact_us2 img{width: 320px;}
.contact_us button{font-size:50px;border:none;background:none;}
.contact_us button:hover{cursor:pointer;}
.contact_us .text_blue_contact{color:#ACACAC;font-weight:bold;}
.contact_us .text_red_contact{color:#478bc7;}
.dropbtn{cursor:pointer;}
.dropbtn:hover, .dropbtn:focus{background-color:#ACACAC;}
.dropdown{position:relative;display:inline-block;}
.dropdown-content{display:none;position:absolute;background-color:#f9f9f9;width:130px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:999;}
.dropdown-content a{color:black;padding:12px 16px;text-decoration:none;display:block;}
.dropdown-content a:hover{background-color:#ACACAC}
.show{display:block;}
.real_body{}
.top_slide_enclose{Height:220px;}
.banner_home{background:lightgrey;width:800px;height:55px;margin:auto;}
.banner_home p{font-family:arial;font-size:18px;line-height:25px;text-align:center;padding-top:7px;}
.real_body_text{Height:auto;}
.text_box{width:800px;margin:auto;font-family:arial;}
.text_box p{text-align:justify;font-size:.9em;}
.text_box h1{font-size:1.3em;}
.text_box2{width:800px;margin:auto;font-family:arial;}
.text_box2 p{margin-left:30px;text-align:justify;font-size:.9em;width:650px;margin:auto;}
.text_box2 h1{font-size:1.3em;margin-left:125px;}
.text_box2 img{width:100px;float:left;display:inline-block;}

#container2{
	width:550px;
	height:500px;
	position:relative;
}

#container2 ul{
    margin-top:-420px;
	width:550px;
	height:436px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
    margin-left: 600px;
}

#container2 li:first-child{
	display:list-item;
	position:absolute;
}

#container2 li{
	position:absolute;
	display:none;
    width: 555px;
    height: 436px;
}

#slide img {
    width:auto;
    height:auto;
    max-width:585px;
    max-height:432px;
    margin-top: auto;
    margin-left: -39px;
    border: 2px solid black;
    
}

#container3{
	width:550px;
	height:500px;
	position:relative;
}

#container3 ul{
    
	width:550px;
	height:515px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
    margin-left: -30px;
    z-index: 1;
}

#container3 li:first-child{
	display:list-item;
	position:absolute;
    overflow: hidden;
}

#container3 li{
	position:absolute;
	display:none;
}
#container3 iframe{
    margin-left: 149px;
}

.announcements{
    border: 2px solid rgba(0, 0, 0, .6);
    width: 545px;
    height: 511px;
    background: rgba(71, 139, 199, .89);
}

h1{
    margin-top: .08em;
    font-family:arial;
    margin-left: 10px;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.announcements p{
    margin: 10px;
    font-family: arial;
    color: white;
    line-height: 36px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#slide .announcements img{
    width: 50px;
    height: auto;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

.mark2 {
    margin-top: -60px;
}

.mark2 img{
    width: 90px;
    height: auto;
    padding-left:5em;
}

.mark{
    background: #478bc7;
    height: 30px;
    
    font-family: arial;
}
.mark p{
    margin-top: 0px;
    color: white;
    font-size: 25px;
}

h2{font-family:arial;width:300px;margin-left:80px;}
.h9{font-family:arial;width:750px;margin-left:80px;}

.DateRange, .DateDiv { display: none; }
