html {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 12px;
}

.weather {
    width: 395px;
    height: 475px;
}

.pic1 {
    width: 550px;
    height: 425px;
}

.pic2 {
    width: 550px;
    height: 425px;
}

.pic3 {
    width: 800px;
    height: 425px;
}

.pic4 {
    width: 625px;
    height: 425px;
}

.logo{
    width:250px;
    height:60px;
}
.clock {
    font-size: 55px;
}

.birthday-font{
    font-size:30px;
}

.slide-1{
    width:475px;
    height:528px;
}

.slide-2{
    width:475px;
    height:528px;
}

.slide-3{
    width:475px;
    height:528px;
}

.machine{
    width:80px;
    height:100px;
}

.machine1{
    width:160px;
    height:85px;
}

.machine2{
    width:160px;
    height:85px;
}

.machine3{
    width:165px;
    height:85px;
}

.machine4{
    width:185px;
    height:85px;
}

.machine5{
    width:140px;
    height:85px;
}

.machine6{
    width:100px;
    height:85px;
}

.machine7{
    width:90px;
    height:85px;
}

.machine8{
    width:100px;
    height:85px;
}

.machine9{
    width:100px;
    height:85px;
}

.machine10{
    width:80px;
    height:85px;
}

.machine11{
    width:160px;
    height:95px;
}

.machine12{
    width:170px;
    height:95px;
}

